# Compiled class file
*.class
hs_err_pid*
/target/
.classpath
.project
.settings/
node_modules/
webpack.generated.js
webpack.config.js
/package-lock.json
/package.json
.DS_Store
restexampleapp.iml
.idea/

src/main/dev-bundle
frontend/generated
